footer{text-align: center;}
main h1{text-align: center;}
nav li{padding: 0 1rem;}
.row img{border: solid 2px white;
         width: 100%;}
body{background-color: rgb(201, 201, 158);}
nav ul{width: 100%;
       border: solid 2px white;
       background-color: beige;}